<div class="well Homewell">
   <p class="lead">
     I heard about AngularJS a while back but I kind of shrugged it off and didn't give it too much attention...<br/>
     However I kept seeing people talking about it to the point where it was the last straw for me.<br/> 
     So I decided to spare little time and learn AngularJS.  
   </p> 
   <p class="lead">
     In the phone catalog tab is a tutorial I followed at angularJS's site <a href="http://docs.angularjs.org/tutorial">here</a>.<br/>
     It was a really good introduction to what AngularJS is and how it works. I learned a lot from this tutorial and I highly recommend it to anyone who wants to see what Angular is all about!(though maybe not for a beginner/new level programmer...)

   </p>
   <p class="lead">
     The Todo list app is just me playing around with what I learned from the tutorial mentioned above.<br/>
     It's a simple little app...thanks to AngularJS! It would have been a little frustrating without Angular's amazing magical powers!!!<br/>
     My test code is up on github <a href="https://github.com/sezar-gantous/Angular-todoApp">here</a> 
   </p> 
   <p class="lead">
     So to sum up everything, I will defiantly use AngularJS in my next projects. I don't know why it took me so long to give a it a chance.<br/>
     I'm running this whole website using Angular and on a NodeJS server (<a href="www.heroku.com">heroku!!</a>). 
   </p>
 </div>