    <br/>
  <div class="well span5" >
    <h2>Movies coming up:</h2>
    <div ng-controller="whatsnextMovieCtrl">
        <ul class="unstyled"  ui:sortable ng:model="whatsnextsMovies" >
            <li ng-repeat="movie in whatsnextsMovies |  filter: {watched:false} | orderBy: 'date'| limitTo: 5 " class="item">
                <span ><strong>{{movie.name}}</strong> {{movie.channel}} </span>
                <span ng-if="movie.link != null"> <a href="{{movie.link}}" target="_blank">watch here</a> </span>
                <span class="pull-right">{{movie.date | date:"fullDate"}}</span>
            </li>

        </ul>
    </div>
        
  </div>
  
  <div class="well span6" >
    <h2>Shows coming up:</h2>
     <div ng-controller="whatsnextShowCtrl">
    <ul class="unstyled"  ui:sortable ng:model="whatsnextsShows" >
        <li ng-repeat="show in whatsnextsShows | filter : {watched:false}| orderBy: 'date'| limitTo:5 " class="item">
            <span ><strong>{{show.name}}</strong></span>
            <span >  (S:{{show.season}}</span>
            <span >   E:{{show.episode}})</span>
            <span >  {{show.channel}}</span>
            <span ng-if="show.link != null"> <a href="{{show.link}}" target="_blank">watch here</a> </span>
            <span class="pull-right">{{show.date| date:"fullDate"}}</span>
        </li>
    </ul>
   </div>
        
  </div>
