<div ng-controller="whatsnextMovieCtrl">
  
   <div class="well well-larg">
      <input  class=" pull-left" ng-model="query" placeholder="search movie">

      <select ng-model="orderProp" >
        <option disabled selected>Order by</option>
        <option value="name">Alphabetical</option>
        <option value="date">Movies Coming up</option>
        <option value="-date">Movies Later on</option>
        <option value="-watched">Watched Already</option>
        <option value="watched">Not Watched</option>
      </select>

      <button class="btn pull-right" ng-click="clearWatched()"><i class="icon-trash"></i>Clear Whatched</button>
      <button class="btn pull-right" ng-click="isCollapsed = !isCollapsed"><i class=" icon-chevron-down"></i>Add A Movie</button>
      </br>
    </div>  
    <hr>

        <div collapse="isCollapsed" style="z-index:1;">
            <div class="well well-larg Homewell" >

              <form class="form-horizontal" name="theFrom" >

                <div ng-class="{error:theForm.movieInput.$invalid}">

                    <input type="text" name="movieInput" ng-model="newMovieText" class="pull-left" placeholder="Name of the Movie" ng-model-instant required>
                    <span ng-show="theForm.name.$error.required" class="help-inline"> Required</span>
                     
                    <input type="text" name="ChannelInput" ng-model="channelText" class="pull-left" placeholder="Channel (optional)" >
                   
                     

                      <input type="text" datepicker-popup="dd MMMM yyyy" ng-model="dt" is-open="opened"  max="'2020-06-22'" datepicker-options="dateOptions" ng-required="true"  />
                      <button class="btn" ng-click="open()"><i class="icon-calendar"></i></button>
                      <span ng-show="theForm.name.$error.required" class="help-inline"> Required</span>

                    <button class="btn btn-primary pull-right"  ng-click="addMovie()" ><i class="icon-plus"></i>Add</button>
                </div>
              </form>        
             
            </div>
             <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

         </div>

      <div class="well well-larg" style="z-index:-1;">
        <h3>You have {{remainingMovies}}  out of {{totalMovies}} Movies to watch!</h3>
                <button class="btn btn-success pull-left" ng-click="whatchedAll()"> <i class="icon-ok" ></i></button>
        <br/><br/>
            <ul class="unstyled"  ng:model="whatsnextsMovies" >

                <li ng-repeat=" (id, movie) in whatsnextsMovies | filter:query | orderBy:orderProp" >
                    <input type="checkbox" ng-model="movie.watched">
                    <span class="done-{{movie.watched}}">{{movie.name}}  {{movie.channel}} {{movie.date}}</span>
                     <button class=" btn btn-danger pull-right" ng-click="removeWhatsNext(movie)"> <i class=" icon-remove" ></i> </button>

                     <hr style="width:%70; color:white;"/>
                </li>
            </ul>
                
      </div>
</div>
